@media screen and (max-width:2913px){

    body{
        background-color: aqua;
    }
    .logo{
        justify-content: center;
        margin: 0 0;
    }
    
    
    
    .conatiner div img{
       
        width: 30px;
    }
}
@media screen and (max-width:1000px){
    h1{
        /* text-align: center; */
        font-size: large;
     }
     .slider img{
        width: 100%;
    }
    .conatiner{
        width: 100%;
    }
}